html {
    scroll-behavior: smooth !important;
}
body {
font-family: 'Quicksand', sans-serif;
font-size: 30px
overflow: hidden;
}
#header{
position: fixed;
z-index: 1000;
top: 0;
left: 0;
width: 100vw;
height: 5%;
text-align: center;
font-size: 60px;
background: black;
color: white;
letter-spacing: 5px;
font-weight: 100;
font-family: sans serif;
padding-top: 40px;
}
.burger{
color: white;
position: fixed;
top: 2.5%;
left: 5%;
font-size: ;
}
#about{
margin-top: 0px;
}
.div img{
width: 90%;
margin: 50px 0;
margin-left: 5%;
border-radius: 10px;
}
.div h3 img{
width: 50px;
margin-bottom: -10px;
}
h2 {font-size: 100px; color: #8c54fc }
h3 {font-size: 80x;font-weight: 700;color: #fc5454;}
.div{
padding: 20% 5% 10% 5%;
margin-top: -300px;
}
.div2 p{
padding: 0 5%;
}
a{
text-decoration: none;
color: #8c54fc;
}
footer{
background: black;
color: white;
padding: 15px 60px;
font-family: sans serif;
text-align: center;
font-size: 10px;
}



.sidenav {
  padding-top: 15%;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(140,84,252,.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a : 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 60px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fc5454;
  text-shadow: 0 0 10px rgba(0,0,0,.3);
}

.sidenav .closebtn {
  position: absolute;
  top: 10%;
  right: 25px;
  font-size: 100px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#price {
  border-collapse: collapse;
  width: 100%;
  font-size: 40px;
  margin-top: 80px;
}
table{
border-radius: 40px;
}

#price td, #price th {
  border: 4px solid #ddd;
  padding: 18px;
}
#price tr:nth-child(even){background-color: #f2f2f2;}

#price tr:hover {background-color: #ddd;}

#price th {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: left;
  background-color: #8c54fc;
  color: white;
}