html {
    scroll-behavior: smooth !important;
}
body {
font-family: 'Quicksand', sans-serif;
font-size: 30px
overflow: hidden;
}
#header{
position: fixed;
z-index: 1000;
top: 0;
left: 0;
width: 100vw;
height: 5%;
text-align: center;
font-size: 60px;
background: black;
color: white;
letter-spacing: 5px;
font-weight: 100;
font-family: sans serif;
padding-top: 40px;
}
.burger{
color: white;
position: fixed;
top: 2.5%;
left: 5%;
font-size: ;
}
#about{
margin-top: 0px;
}
.div img{
width: 90%;
margin: 50px 0;
margin-left: 5%;
border-radius: 10px;
}
.div h3 img{
width: 50px;
margin-bottom: -10px;
}
h2 {font-size: 100px; color: #8c54fc }
h3 {font-size: 80x;font-weight: 700;color: #fc5454;}
.div{
padding: 20% 5% 10% 5%;
margin-top: -300px;
}
.div2 p{
padding: 0 5%;
}
a{
text-decoration: none;
color: #8c54fc;
}
footer{
background: black;
color: white;
padding: 15px 60px;
font-family: sans serif;
text-align: center;
font-size: 10px;
}



.sidenav {
  padding-top: 2%;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  color: rgba(0,0,0,.4);
  top: 0;
  left: 0;
  background-color: #FFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a : 60px;
}
.sidenav p{
font-size: 50px;
color: #8c54fc;
margin-left: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  line-height: 80px;
  font-size: 40px;
  color: rgba(0,0,0,.4);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fc5454;
}

.sidenav .closebtn {
  position: absolute;
  top: 10%;
  right: 25px;
  font-size: 100px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#price {
  border-collapse: collapse;
  width: 100%;
  font-size: 30px;
  margin-top: 80px;
}
table{
border-radius: 40px;
}

#price td,#price th {
  border: 4px solid #ddd;
  padding: 18px;
}

#price th {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: left;
  background-color: #8c54fc;
  color: white;
}


.container {
	max-width:90%;
	width:100%;
	margin:0 auto;
	position:relative;
	padding: 30px;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:60px;
	margin:50px 0;
}

#contact h3 {
	color: #8c54fc;
	display: block;
	font-size: 60px;
	font-weight: 400;
}
#contact h4 {
	margin:25px 0 35px;
	display:block;
	font-size:30px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 30px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:90%;
	font-size: 30px;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 25px;
	padding:30px;
	line-height: 50px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #fc5454;
}

#contact textarea {
	height:300px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#fc5454;
	color:#FFF;
	margin:0 0 30px;
	padding:30px;
	font-size:30px;
}

#contact button[type="submit"]:hover {
	background: darkpink;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
.container{font-size: 60px;}